.linkButton {
    width: fit-content;
    padding: 0 10px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    color: blue;
  }
  .btnActive {
    width: fit-content;
    padding: 0 10px;
    height: 100%;
    font-size: 18px;
    font-weight: bolder;
    background-color: white;
    color: blue;
  }